@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Concert+One&family=Elsie&family=Faster+One&family=Fredericka+the+Great&family=Grandstander:wght@100;400&family=Luckiest+Guy&family=Press+Start+2P&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.container{
    /* background-color: yellow; */
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    /* gap: 50px; */
}

.paragraf{
    /* background-color: aqua; */
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 50px;  */
}

h1{
   width: 47%;
   line-height: 70px;
   background-color: #F8BA97; 
   /* background-color: #F793B0;  */
   text-align: center;
   margin: 150px 0 20px;
   border-radius: 50px;
   font-family: 'Concert One', cursive;
   font-size: 3rem;
   font-weight: 300;
   color: rgb(77, 77, 77);
}

#the{
    font-family: 'Yellowtail', cursive;
    font-weight: 500;
}

.please, .para, .life{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    color: rgb(93, 160, 187);

}

.first, .last, .life-span{
    color: rgb(238, 44, 77);
    font-weight: 900;
}

.input{
width: 200px;
height: 70px;
font-size: 50px;
border-radius: 0 20px 0 20px;
border: 2px solid darkgray;
margin-bottom: 20px;
text-align: center;
line-height: 70px;
color: rgb(238, 44, 77);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.check, .restart{
width: 200px;
line-height: 70px;
font-size: 30px;
border-radius: 0 20px 0 20px;
border: 2px solid rgb(169, 169, 169);
cursor: pointer;
font-family: 'Faster One', cursive;
margin-bottom: 10px;
color: rgb(74, 143, 207);
}

.check:active, .restart:active{
    font-size: 33px;
}

.over, .fire{
    display: none;
}


@media (max-width:900px){
    h1{
        width: 67%;
        /* margin-top: 150px; */
        font-size: 2rem;
    }
    .please, .para, .life{      
        font-size: 2rem;  
    }

    .input{
        width: 100px;
        height: 40px;
        font-size: 30px;
        }
    .check, .restart{
        width: 100px;
        line-height: 40px;
        font-size: 20px;

    }
    .check:active, .restart:active{
        font-size: 23px;
    }
}

@media (max-width:470px){
    h1{
        width: 50%;
        /* margin-top: 150px; */
        font-size: 1rem;
    }
    .please, .para, .life{      
        font-size: 1rem;  
    }

    .input{
        width: 70px;
        height: 30px;
        font-size: 20px;
        border-radius: 5px;
        }
    .check, .restart{
        width: 70px;
        line-height: 30px;
        font-size: 10px;
        border-radius: 5px;

    }
    .check:active, .restart:active{
        font-size: 13px;
    }
}